Source: cecil
Section: cli-mono
Priority: optional
Maintainer: Debian CLI Libraries Team <pkg-cli-libs-team@lists.alioth.debian.org>
Uploaders: Iain Lane <laney@ubuntu.com>
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep: cli-common-dev (>= 0.5.4),
 mono-devel (>= 2.4.3),
 sharutils
Standards-Version: 3.8.3
Homepage: http://www.mono-project.com/Cecil
Vcs-Git: git://git.debian.org/git/pkg-cli-libs/packages/cecil.git
Vcs-Browser: http://git.debian.org/?p=pkg-cli-libs/packages/cecil.git

Package: libmono-cecil-cil
Architecture: all
Depends: ${cli:Depends}, ${misc:Depends}
Conflicts: libmono-cecil0.3-cil, libmono-cecil0.4-cil, libmono-cecil0.5-cil
Description: library to generate and inspect CIL assemblies
 Cecil is a library under development to generate and inspect programs and
 libraries in the ECMA CIL format.
 .
 In simple English, with Cecil, you can load existing managed assemblies,
 browse all the contained types, modify them on the fly and save back to the
 disk the modified assembly.
 .
 This package contains the Cecil library.

Package: libmono-cecil-cil-dev
Architecture: all
Depends: libmono-cecil-cil (= ${binary:Version}), ${misc:Depends}
Replaces: libmono-cecil0.3-cil, libmono-cecil0.4-cil, libmono-cecil0.5-cil
Description: library to generate and inspect CIL assemblies
 Cecil is a library under development to generate and inspect programs and
 libraries in the ECMA CIL format.
 .
 In simple English, with Cecil, you can load existing managed assemblies,
 browse all the contained types, modify them on the fly and save back to the
 disk the modified assembly.
 .
 This package contains development files for the Cecil library, and should 
 be used for compilation.
