Source: cecil
Section: devel
Priority: optional
Maintainer: Debian CLI Libraries Team <pkg-cli-libs-team@lists.alioth.debian.org>
Uploaders: Sebastian Dröge <slomo@debian.org>, Jose Carlos Garcia Sogo <jsogo@debian.org>
Build-Depends: debhelper (>= 5), dpatch
Build-Depends-Indep: cli-common-dev (>= 0.5.4), mono-mcs (>= 1.1.9) | c-sharp-compiler, sharutils
Standards-Version: 3.7.3

Package: libmono-cecil0.5-cil
Architecture: all
Depends: ${cli:Depends}
Conflicts: libmono-cecil0.3-cil, libmono-cecil0.4-cil
Description: library to generate and inspect CIL assemblies
 Cecil is a library under development to generate and inspect programs and
 libraries in the ECMA CIL format.
 .
 In simple English, with Cecil, you can load existing managed assemblies,
 browse all the contained types, modify them on the fly and save back to the
 disk the modified assembly.
 .
 http://www.mono-project.com/Cecil

