<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Mono.Cecil" publicKeyToken="9b4bd814fdde2e2e" />
        <bindingRedirect oldVersion="0.4.1.0" newVersion="0.4.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

