#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/cli-common/cli.make

UPVERSION = $(shell dpkg-parsechangelog | grep ^Vers | cut -d\  -f2 | sed 's,-.*,,')

override_dh_auto_build:
	xbuild /property:Configuration=net_4_0_Release

	sed -e 's;@prefix@;/usr;g' \
		-e 's;^Version:.*;Version:\ $(UPVERSION);g' \
		debian/mono-cecil.pc.in > Mono.Cecil/mono-cecil.pc

override_dh_clean:
	rm -f Mono.Cecil/mono-cecil.pc
	find . -type d -name obj -exec rm -rf {} \;
	dh_clean

%:
	dh $@

get-orig-source:
	[ -d ../tarballs ] || mkdir ../tarballs
	uscan \
		--force-download \
		--download-version $(UPVERSION) \
		--destdir ../tarballs \
		--rename --verbose
